In [1]:
from csv import reader

In [2]:
data = list(reader(open("students_data.csv")))
data[:6]

[['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths'],
 ['101', 'Aliza', '45', '99', '88'],
 ['102', 'Soban', '50', '97', '87'],
 ['103', 'Noman', '43', '94', '89'],
 ['104', 'Bilal', '42', '87', '85'],
 ['105', 'Saim', '39', '76', '76']]

In [3]:
len(data)

22

In [4]:
data[0]

['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths']

In [5]:
for i in data[1:]:
    print(type(i[1]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [6]:
data[0].index("Name")

1

In [7]:
for i in data[1:]:
    print(i[1])

Aliza
Soban
Noman
Bilal
Saim
Shameer
Zainab
Umer
Umair
Fizzah
Zahra
Fatima
Tooba
Saad
Azher
Danial
kaiser
Jibran
Maria
Amna
Noreen

In [8]:
data[0].index("Chemistry")

2

In [9]:
for i in data[1:]:
    print(i[2])

45
50
43
42
39
38
47
46
35
36
49
45
43
42
41
34
45
46
43
38
37

In [10]:
for i in data[1:]:
    print(type(i[2]))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [11]:
for i in data[1:]:
    i[2] = int(i[2])

In [12]:
data[0]

['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths']

In [13]:
for i in data[1:]:
    print(type(i[2]))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>

In [14]:
chem_sum = []
for i in data[1:]:
    chem = i[2]
    chem_sum.append(chem)

In [15]:
print(chem_sum)

[45, 50, 43, 42, 39, 38, 47, 46, 35, 36, 49, 45, 43, 42, 41, 34, 45, 46, 43, 38, 37]

In [16]:
round(sum(chem_sum)/len(chem_sum),2)

42.1

In [17]:
data[0].index("Physics")

3

In [18]:
for i in data[1:]:
    i[3] = int(i[3])
    i[4] = int(i[4])

In [19]:
phy_avg = []
for i in data[1:]:
    phy = i[3]
    phy_avg.append(phy)

In [20]:
phy_avg

[99,
 97,
 94,
 87,
 76,
 58,
 92,
 86,
 83,
 81,
 90,
 88,
 80,
 90,
 93,
 82,
 91,
 77,
 69,
 89,
 98]

In [21]:
sum(phy_avg)/len(phy_avg)

85.71428571428571

In [22]:
maths = []
for i in data[1:]:
    mat = i[4]
    phy_avg.append(mat)

In [23]:
for i in data[1:]:
    percentage = (i[2] + i[4] + i[3])/300 * 100
    percentage = round(percentage,2)
    i.append(percentage)
    print(percentage)

77.33
78.0
75.33
71.33
63.67
57.0
72.33
68.33
69.0
71.33
77.67
77.33
72.0
69.67
77.33
67.67
74.0
67.0
68.67
72.67
75.0

In [24]:
data[0].append("Percentage")

In [25]:
data

[['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths', 'Percentage'],
 ['101', 'Aliza', 45, 99, 88, 77.33],
 ['102', 'Soban', 50, 97, 87, 78.0],
 ['103', 'Noman', 43, 94, 89, 75.33],
 ['104', 'Bilal', 42, 87, 85, 71.33],
 ['105', 'Saim', 39, 76, 76, 63.67],
 ['106', 'Shameer', 38, 58, 75, 57.0],
 ['107', 'Zainab', 47, 92, 78, 72.33],
 ['108', 'Umer', 46, 86, 73, 68.33],
 ['109', 'Umair', 35, 83, 89, 69.0],
 ['110', 'Fizzah', 36, 81, 97, 71.33],
 ['111', 'Zahra', 49, 90, 94, 77.67],
 ['112', 'Fatima', 45, 88, 99, 77.33],
 ['113', 'Tooba', 43, 80, 93, 72.0],
 ['114', 'Saad', 42, 90, 77, 69.67],
 ['115', 'Azher', 41, 93, 98, 77.33],
 ['116', 'Danial', 34, 82, 87, 67.67],
 ['117', 'kaiser', 45, 91, 86, 74.0],
 ['118', 'Jibran', 46, 77, 78, 67.0],
 ['119', 'Maria', 43, 69, 94, 68.67],
 ['120', 'Amna', 38, 89, 91, 72.67],
 ['121', 'Noreen', 37, 98, 90, 75.0]]

In [26]:
data[0].append("Grades")

In [31]:
for i in data[1:]:
    Percentage = i[-1]
    if Percentage > 80 and Percentage < 100:
        i.append("A1")
    elif Percentage > 70 and Percentage <= 80:
        i.append("A")
    elif Percentage > 60 and Percentage <= 70:
        i.append("B")
    elif Percentage > 50 and Percentage <= 60:
        i.append("C")
    else:
        i.append("F")

In [33]:
data

[['Roll No.', 'Name', 'Chemistry', 'Physics', 'Maths', 'Percentage', 'Grades'],
 ['101', 'Aliza', 45, 99, 88, 77.33, 'A'],
 ['102', 'Soban', 50, 97, 87, 78.0, 'A'],
 ['103', 'Noman', 43, 94, 89, 75.33, 'A'],
 ['104', 'Bilal', 42, 87, 85, 71.33, 'A'],
 ['105', 'Saim', 39, 76, 76, 63.67, 'B'],
 ['106', 'Shameer', 38, 58, 75, 57.0, 'C'],
 ['107', 'Zainab', 47, 92, 78, 72.33, 'A'],
 ['108', 'Umer', 46, 86, 73, 68.33, 'B'],
 ['109', 'Umair', 35, 83, 89, 69.0, 'B'],
 ['110', 'Fizzah', 36, 81, 97, 71.33, 'A'],
 ['111', 'Zahra', 49, 90, 94, 77.67, 'A'],
 ['112', 'Fatima', 45, 88, 99, 77.33, 'A'],
 ['113', 'Tooba', 43, 80, 93, 72.0, 'A'],
 ['114', 'Saad', 42, 90, 77, 69.67, 'B'],
 ['115', 'Azher', 41, 93, 98, 77.33, 'A'],
 ['116', 'Danial', 34, 82, 87, 67.67, 'B'],
 ['117', 'kaiser', 45, 91, 86, 74.0, 'A'],
 ['118', 'Jibran', 46, 77, 78, 67.0, 'B'],
 ['119', 'Maria', 43, 69, 94, 68.67, 'B'],
 ['120', 'Amna', 38, 89, 91, 72.67, 'A'],
 ['121', 'Noreen', 37, 98, 90, 75.0, 'A']]